/* Define global color variables */
:root {
    --background-color: white;
    --primary-color: #43BDE5; 
    --text-color: black;
}

/* Normalize and global styles */
body {
    font-family: "Playfair Display", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header  {
    font-family: "Playfair Display", system-ui;
    font-weight: 400;
    font-style: italic;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
}

.logo {
    grid-column: 1; 
    justify-self: start;
}

.header-title {
    grid-column: 2; 
    text-align: center;
    justify-self: center;
}

.facebook{
    grid-column: 3;
   justify-self: end;
}
#menu {
	display: block;
    grid-column: 4;
    justify-self: end;
	font-size: 2rem;
	font-weight:400;
	text-decoration: none;
	background-color: var(--primary-color);
	color: var(--text-color);
}

.header-today {
    grid-row: 3;
    text-align: center;
}

header h1, h2 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: normal; 
    font-size: 2rem;
}

#menu::before {
	content: "≡";
}


.navigation {
	list-style: none;
	margin: -30px auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--text-color);
	font-weight: 700;
	transition: 0.1s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	background-color: var(--background-color);
}

.show li {
	display: block;
    grid-column: 1 / 4; 
    text-align: center; 
}

#menu.show::before {
	content: "X";
}


/*home page */
.hero {
    grid-column: 1 / 4;
    position: relative;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero button {
    position: absolute;
    top: 10%;
    left: 45%;
    padding: 16px 16px;
    font-size: 36px;
    background-color: var(--primary-color); 
    color: var(--text-color);
    border: none;
    cursor: pointer;
}
main {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

section h2 {
    background-color: var(--primary-color);
    margin-top: 0;
}

.community-info, .current, .forecast {
    flex: 1 1 100%;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    margin: 10px;
}
/*curretn weather card*/
#currentCard {
    display: flex;
    align-items:flex-start;
}

.weather-icon img {
    width: 100px; 
    height: auto;
}

.weather-info {
    display: flex;
    flex-direction: column;
}

/* Container for spotlight cards */
#spotlight
{
    display: flex;
    flex-wrap: wrap;
}
.spotlight-card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 8px var(--primary-color);
    margin: 10px;
}

/* Member name at the top of the card */
.spotlight-card h3 {
    grid-column: 1 / 3; /* Spans the full width of the card */
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

/* Horizontal line below the name */
.spotlight-card h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    left: 0;
}

/* Image styling */
.spotlight-logo {
    grid-column: 1 / 2; 
    margin: auto auto;
}

.spotlight-logo img {
    width: 100%;
    height: auto;
}

/* Info styling */
.spotlight-info {
    grid-column: 2 / 3; 
    display: flex;
    flex-direction: column;
}

/* Forecast Container */
#forecastCard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Individual Day Forecast */
.forecast-day {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
    box-shadow: 0px 4px 8px var(--primary-color);
}


/*directory page*/
.directory {
    padding: 20px;
    background-color: var(--background-color);
}
button {
    margin-bottom: 1rem;
    padding: 10px;
    font-size: large;
    font-style: italic;
    background-color: var(--primary-color);
}

/* Grid and List View Toggle */
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.list-view {
    display: block;
}

.business-card {
    border: 1px solid var(--text-color);
    padding: 15px;
    background-color: var(--primary-color);
}

.business-card h3 {
    color: var(--primary-color);
}

.business-card a {
    color: var(--secondary-color);
    text-decoration: none;
}

.business-card a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: left;
}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
        background-color: var(--primary-color);
	}
	.navigation li {
		display: block; /* change state in small view */
        flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .community-info, .current, .forecast {
        flex: 1 1 30%;
        box-sizing: border-box;
        border: 1px solid var(--text-color);
    }
    .spotlight-card{
        flex: 1 1 30%;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    .contact-info,.social-media,.project-info{
        flex: 1 1 30%;
    }
    
}

