:root {
    --primary-color: #ffb703;
    --blue-color: #8ecae6;
    --pink-color: #ffb3c6;
    --text-color: #000000;

    --heading-font: 'Playfair Display', serif;
    --heading-font-style: italic;
    --paragraph-font: 'Playfair Display', serif;
    --paragraph-font-style: normal;
    --title-font: 'Dancing Script', serif;
    --font-weight: 400;
}

